.app {
  text-align: center;
}

.app-common {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-container {
  align-items: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.app-loading {
  font-size: calc(10px + 2vmin);
}

.app-content {
  flex: 1 1 auto;
}

.app-pre {
  width: 80%;
  flex: 0 0 auto;
  text-align: left;
}

.isLoading {
  color: #00ff00;
}
